
.social-network{
    list-style: none;

}

.social-network li{
    display: inline;
    padding: 5px;
    font-size: 35px;
    margin: 0;
}



.icoGithub, .icoInstagram, .icoLinkedin{
    color: black;

}

.icoGithub:hover{
    color: white ;
}

.icoInstagram:hover{
    color: #c13584;
}

.icoLinkedin:hover{
    color: #0072b1;
}