<div class="container mb-5">
    <h1 class="mt-5 mb-5">Entre em contato comigo: </h1>
    <form action="">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome: </label>
            <input type="text" class="form-control" id="nome" placeholder="Seu nome">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label" required>Email: </label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="assunto" class="form-label">Assunto: </label>
            <input type="email" class="form-control" id="assunto" >
        </div>
        <div class="mb-3">
            <label for="conteudo" class="form-label">Mensagem</label>
            <textarea class="form-control" id="conteudo" rows="5"></textarea>
        </div>
        <button class="btn btn-outline-dark" routerLink='/feed'>Enviar</button>
    </form>
</div>